version: '3'
services:
  django:
    build: ./movies_admin
    depends_on:
      - postgres
    volumes:
      - static_volume:/opt/app/static/
    entrypoint: ["/opt/app/sh_for_migration.sh"]
    env_file:
      - movies_admin/config/.dev.env
    expose:
    - "8000"
    networks:
      - djangonet
  postgres:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: 123qwe
      POSTGRES_DB: movies_database
    depends_on:
      - elasticsearch
    networks:
      - djangonet
  elasticsearch:
    image: elasticsearch:7.17.6
    ports:
      - "9200:9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms200m -Xmx200m
    networks:
      - djangonet
  etl:
    build: ./01_etl
    env_file:
      - ./01_etl/.dev.env
    entrypoint: ["/opt/app/entrypoint.sh"]
    networks:
      - djangonet

volumes:
  static_volume:

networks:
  djangonet:
    external:
      name: api_network