version: '3'
services:
  django:
    build: ./movies_admin
    depends_on:
      - postgres
    volumes:
      - static_volume:/opt/app/static/
    entrypoint: ["/opt/app/sh_for_migration.sh"]
    env_file:
      - movies_admin/config/.dev.env
    expose:
    - "8000"
    networks:
      - djangonet
  postgres:
    image: postgres:13
    expose:
      - "5432"
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: 123qwe
      POSTGRES_DB: movies_database
    networks:
      - djangonet
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./configs:/etc/nginx/conf.d:ro
      - static_volume:/opt/app/static/
    depends_on:
      - django
    ports:
      - "80:80"
    networks:
      - djangonet
  elasticsearch:
    image: elasticsearch:7.17.6
    expose:
      - "9200"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    networks:
      - djangonet
  etl:
    build: ./01_etl
    env_file:
      - ./01_etl/.dev.env
    depends_on:
      - nginx
    entrypoint: ["/opt/app/entrypoint.sh"]
    networks:
      - djangonet

volumes:
  static_volume:

networks:
  djangonet:
    name: api_network